# Tuple

string = ""              (iterable, immutable)
listeler = [], list()    (iterable, mutable)
tuple  = (), tuple()     (iterable, immutable)

In [1]:
tuple("techpro")

('t', 'e', 'c', 'h', 'p', 'r', 'o')

In [2]:
len(tuple("techpro"))

7

In [3]:
a = tuple("techpro")

In [4]:
len(a)

7

In [5]:
tuple(1234)

TypeError: 'int' object is not iterable

In [6]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [7]:
b = [1,2,3,4]     # çıktımız da ki parantezler de collection type'ı belirtir
b

[1, 2, 3, 4]

In [8]:
tuple_1 = (3, 3.14, "mert", True, [4,5,6])
tuple_1

(3, 3.14, 'mert', True, [4, 5, 6])

In [9]:
type(tuple_1)

tuple

In [10]:
len(tuple_1)

5

In [11]:
tuple_2 = ("techpro")
type(tuple_2)

str

In [12]:
tuple_3 = ("techpro",)
type(tuple_3)

tuple

In [14]:
tuple_4 = (1,)
type(tuple_4)

tuple

In [16]:
liste_1 =[1,2,3]
tuple_5 = (liste_1,4,5)
tuple_5

([1, 2, 3], 4, 5)

In [17]:
tuple_6 = "mehmet","enes","arzu"    #  (), tuple() bu iki seçenek dışında bu farmatta tuple çıktısı verir
tuple_6

('mehmet', 'enes', 'arzu')

In [18]:
type(tuple_6)

tuple

In [19]:
tuple_7 = (1,2,3)
tuple_8 = (4,5,6)

tuple_7 + tuple_8

(1, 2, 3, 4, 5, 6)

In [20]:
tuple_7 * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [21]:
tuple_1

(3, 3.14, 'mert', True, [4, 5, 6])

In [22]:
tuple_1[0]         # indexleme mümkün

3

In [23]:
tuple_1[4][-1]

6


* daha güvenilir veri kaynaklarını tutmak için tuple tercih edebiliriz 
* amaaa listelerde ki method çeşitliliği de bizlerin işini kolaylaştırır

In [ ]:
tuple_8 = (1,5,8,9,4,6,2,3,4,8,5,6,2)
tuple_8

In [26]:
tuple_8.count(2)

2

In [27]:
tuple_8.index(1)     # değer hangi index de onu belirtir

0

In [25]:
liste_2 = [1,5,8,9,4,6,2,3,4,8,5,6,2]        # listelerde(liste,tuple,dict) değişken isminden sonra nokta yapınca method lar pencere halinde çıkar
                                             # tuple da method sayısı 2 tane

In [ ]:
liste_2.

## Range

In [28]:
range(1,9)

range(1, 9)

In [29]:
list(range(1,9))

[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
tuple(range(1,9))

(1, 2, 3, 4, 5, 6, 7, 8)

In [31]:
list(range(1,50))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [32]:
print(list(range(1,50)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [33]:
print(list(range(1,50,5)))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46]

In [34]:
print(list(range(50,1)))

[]

In [35]:
print(list(range(50,1,-1)))

[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [36]:
print(list(range(1,50,1.5)))    # int ister içerisinde

TypeError: 'float' object cannot be interpreted as an integer

# Dictionaries

In [37]:
{}
dict()

{}

In [38]:
dict_1 = {"key1" : "value1" , "key2" : "value2" , "key3" : "value3"}
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [39]:
len(dict_1)

3

In [40]:
type(dict_1)

dict

In [41]:
dict_1.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [43]:
dict_1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [44]:
dict_1.values()

dict_values(['value1', 'value2', 'value3'])

In [45]:
dict_1[0]       # direk indexleme yok

KeyError: 0

In [46]:
dict_1["key1"]

'value1'

In [47]:
dict_2 = {1 : "one" , 2 : "two" , 3 : "three"}
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [48]:
dict_2[1]        # burada ki index değil key değeri

'one'

In [49]:
dict_3 = {12 : ["one","two"]}       # dict içerisinde list formatı kullanabiliriz
dict_3

{12: ['one', 'two']}

In [50]:
dict_4 = {"ogrenci_1" : ("Arzu", 25, "aws_devops") , "ogrenci_2" : ("Enes", 28, "aws_devops")}   # dict içerisinde tuple kullanılabiliriz
dict_4

{'ogrenci_1': ('Arzu', 25, 'aws_devops'),
 'ogrenci_2': ('Enes', 28, 'aws_devops')}

In [51]:
dict_4["ogrenci_1"]

('Arzu', 25, 'aws_devops')

In [52]:
dict_4.items()

dict_items([('ogrenci_1', ('Arzu', 25, 'aws_devops')), ('ogrenci_2', ('Enes', 28, 'aws_devops'))])

In [53]:
dict_4.keys()

dict_keys(['ogrenci_1', 'ogrenci_2'])

In [54]:
personel = { "name" : ["ali","can","merve"],
            "age" : [28,29,30],
            "job" : ["aws", "data", "back"]
}

In [55]:
personel

{'name': ['ali', 'can', 'merve'],
 'age': [28, 29, 30],
 'job': ['aws', 'data', 'back']}

In [56]:
personel["name"]

['ali', 'can', 'merve']

In [57]:
personel["name"].append("ayşe")     # bu append liste üzerinde kullanıldı

In [58]:
personel

{'name': ['ali', 'can', 'merve', 'ayşe'],
 'age': [28, 29, 30],
 'job': ['aws', 'data', 'back']}

In [59]:
personel["age"].append(33)
personel["job"].append("front")

In [60]:
personel

{'name': ['ali', 'can', 'merve', 'ayşe'],
 'age': [28, 29, 30, 33],
 'job': ['aws', 'data', 'back', 'front']}

In [61]:
personel["name"].extend(["veli","kaan","hatice"])

In [62]:
personel

{'name': ['ali', 'can', 'merve', 'ayşe', 'veli', 'kaan', 'hatice'],
 'age': [28, 29, 30, 33],
 'job': ['aws', 'data', 'back', 'front']}

In [65]:
personel["age"].extend(range(25,30,2))

In [66]:
personel

{'name': ['ali', 'can', 'merve', 'ayşe', 'veli', 'kaan', 'hatice', 25, 27],
 'age': [28, 29, 30, 33, 25, 27, 29],
 'job': ['aws', 'data', 'back', 'front']}

In [67]:
personel.clear()

In [68]:
personel

{}

ÖDEV:

list, tuple, dict formatlarında örnekler yapınız (method kullanınız)