# for loop

In [1]:
5 in [1,2,3,4,5]

True

In [2]:
6 in [1,2,3,4,5]

False

In [3]:
# for içerisinde yer alan collection type'ın iterable özellikte olması gerekir

for i in "techpro":
      print(i)

t
e
c
h
p
r
o

In [4]:
for i in [1,2,3,4,5]:      # liste ile döngü
    print(i ** 2)

1
4
9
16
25

In [7]:
for i in (1,2,3,4,5):       # tuple ile döngü
    print(i ** 2)

1
4
9
16
25

In [10]:
for i in {1,2,3,4,5}:       # set ile döngü (süslü parantez)
    print(i ** 2)

1
4
9
16
25

In [11]:
for i in ["ali","can","ata"]:       # string ifadeler ile döngü 
    print(i)

ali
can
ata

In [9]:
type(12345)

int

In [8]:
for i in 12345:      
    print(i ** 2)

TypeError: 'int' object is not iterable

In [5]:
# for loop

for i in range(1,6):    
    print(i ** 2)

1
4
9
16
25

In [6]:
# while loop

liste = [1,2,3,4,5]       

x = 0

while x < len(liste):
    print(liste[x] ** 2)

    x += 1

1
4
9
16
25

In [13]:
for i in ["ali","can","ata"]:       # string ifadeler ile döngü     -   title() ilk harfi büyük yapar
    print(i.title(), end = "-")

Ali-Can-Ata-

In [15]:
for i in ["ali","can","ata"]:       # string ifadeler ile döngü 
    print(i.title(), end = " ")

Ali Can Ata

In [16]:
dict_1 = {"name" : "ali", "age" : 25, "job" : "aws_dev"}
dict_1

{'name': 'ali', 'age': 25, 'job': 'aws_dev'}

In [17]:
for i in dict_1:        # key değerlerini getirir
    print(i)

name
age
job

In [18]:
for i in dict_1.items():        # key değerlerini getirir
    print(i)

('name', 'ali')
('age', 25)
('job', 'aws_dev')

In [19]:
for i in dict_1.keys():        # key değerlerini getirir
    print(i)

name
age
job

In [20]:
for i in dict_1.values():        # key değerlerini getirir
    print(i)

ali
25
aws_dev

In [ ]:
# for ile sonsuz döngü 

liste = ["for ile sonsuza gitme"]

for i in liste:

    print(i)

    liste.append(i)     # bu işlem ile listeye aynı eleman eklendi

In [24]:
# istediğimizin rakamın çarpım tablosunu yazdırma

sayı = int(input("lütfen 1 - 10 arası rakam giriniz"))

if 1 <= sayı <= 10:                                  # if 1 <= sayı  and sayı <= 10:

    for x in range(1,11):

        print(sayı, "x", x, " = ", sayı*x )

else:
    print("yanlış sayı girdiniz")

8 x 1  =  8
8 x 2  =  16
8 x 3  =  24
8 x 4  =  32
8 x 5  =  40
8 x 6  =  48
8 x 7  =  56
8 x 8  =  64
8 x 9  =  72
8 x 10  =  80

In [25]:
# 1 den 50 ye kadar sayıları topla

toplam = 0

for i in range(1,51):

    toplam += i                 # toplam = toplam + i

print("1 den 50 ye toplam = ",toplam)

1 den 50 ye toplam =  1275

### break - continue

In [26]:
liste_1 = [1,2,3,4,5,6,7,8,9]
liste_1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# 1-9 arası 3'e bölünenlerin toplamı

toplam = 0 

for i in liste_1:

    if i % 3 == 0:

        toplam += i

print("3'e bölünenlerin toplamı = ", toplam)

3'e bölünenlerin toplamı =  18

In [28]:
# 1-9 arası 3'e bölünenlerin toplamı

toplam = 0 

for i in liste_1:

    if i % 3 != 0:

        continue

    toplam += i

print("3'e bölünenlerin toplamı = ", toplam)

3'e bölünenlerin toplamı =  18

In [29]:
# 28. sayıya kadar tek ve çift olnnları listeye ata ve yazdır

liste_2 = [1,15,2,8,9,32,65,41,14,18,22,28,71,85,98,91]    # 28

tek = []
cift = []

for i in liste_2:

    if i == 28:

        break

    if i % 2 == 0:
        cift.append(i)

    else:
        tek.append(i)

print("çift sayılar = ", cift)

print("tek sayılar = ", tek)

çift sayılar =  [2, 8, 32, 14, 18, 22]
tek sayılar =  [1, 15, 9, 65, 41]