# Data Types

### String

In [1]:
"techpro"    # tırnak işareti arasında ki her ifade string'tir

'techpro'

In [4]:
print("techpro")

techpro

In [5]:
type(print("techpro"))

techpro

NoneType

In [7]:
type("techpro")

str

In [3]:
type("55")

str

### int

In [8]:
print(55)

55

In [9]:
type(55)

int

In [10]:
55

55

In [11]:
type(-15)

int

### Float

In [12]:
3.14

3.14

In [13]:
type(3.14)

float

In [14]:
print(3.14)

3.14

In [15]:
type(3.)

float

In [16]:
type("3.14")

str

### ***bool (boolean)***

### **bool (boolean)**

In [18]:
False

False

In [19]:
True

True

In [20]:
type(True)

bool

In [22]:
type(True)

bool

# Variables

In [23]:
name = "ahmet"

In [24]:
name

'ahmet'

In [25]:
name = "veli"     # her zaman en son aldığı değeri getirir

In [27]:
name

'veli'

In [28]:
print(name)

veli

In [29]:
print("veli")

veli

In [31]:
surname = "can"

In [32]:
print(surname)

can

In [36]:
age = 35

In [37]:
age

35

In [38]:
print(name,surname,age)

veli can 35

In [39]:
name

'veli'

In [40]:
type(name)

str

In [41]:
type(surname)

str

In [42]:
type(age)

int

In [43]:
pi_number = 3.1425

In [44]:
type(pi_number)

float

In [46]:
Name          # değişkenlerde case sensitive özelliği var, ne yazdıysak o şekilde çağırmalıyız

NameError: name 'Name' is not defined

In [50]:
$name       # değişkenler özel karakterler ile başlayamaz

SyntaxError: invalid syntax (2583267810.py, line 1)

In [52]:
name1 = "orhan"
name2 = "kenan"

In [53]:
name1

'orhan'

In [54]:
name2

'kenan'

In [55]:
name3, name4 = "özlem", "merve"

In [56]:
name3

'özlem'

In [57]:
name4

'merve'

In [59]:
name5 , name6 = "büşra", "ayşe"

In [60]:
print(name5,name2)

büşra kenan

In [61]:
type(name6)

str

In [62]:
print(name3, "yaşar")        # tırnak içerisinde yazdığım her şey srtring'tir 
                        # metin olarak yazdığım her şey tırnak içerisinde olmalı

özlem yaşar

In [66]:
type(name3, name4)

TypeError: type() takes 1 or 3 arguments

In [67]:
#Değişkenler tek bir satırda birden fazla ve birden fazla data tipinde ataması yapılabilir fakat atamaların karşılığı olmak zorundadır
karakter, sayi, ondaliklisayi, bol = "String", 5, 3.14, True
print(karakter, sayi, ondaliklisayi, bol)
print(type(karakter))
print(type(sayi))
print(type(ondaliklisayi))
print(type(bol))

String 5 3.14 True
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [68]:
a,b,c,d,e,f,g,h,j = 1,2,3,4,5,6,7,8,9

In [69]:
a

1

In [70]:
d

4

In [71]:
h

8

In [73]:
a,b,c,d,e,f,g,h,j = 1

TypeError: cannot unpack non-iterable int object

In [74]:
a=b=c=d=e=f=g=h=j = 1    # aynı ifadeleri işittir ile birdenn fazla değişkene atayabiliriz

In [75]:
b

1

In [76]:
g

1

# Type Conversion

In [77]:
age = 32

In [78]:
type(age)

int

In [79]:
str(age)

'32'

In [80]:
type(age)

int

In [81]:
age = str(age)      # type conversion yaptın

In [82]:
age

'32'

In [83]:
type(age)

str

In [84]:
adres = "3250"

In [85]:
adres = int(adres)

In [86]:
adres

3250

In [87]:
type(adres)

int

In [88]:
speed = 99.8

In [89]:
type(speed)

float

In [90]:
int(speed)

99

In [91]:
speed

99.8

In [92]:
speed = int(speed)

In [93]:
speed

99

In [94]:
x = "123a"

In [95]:
type(x)

str

In [96]:
int(x)

ValueError: invalid literal for int() with base 10: '123a'

In [98]:
y = x[:3]    # indeksleme

In [99]:
type(y)

str

In [100]:
y = int(y)

In [101]:
type(y)

int

# Arithmatic Operations

In [102]:
3+5

8

In [103]:
9-4

5

In [104]:
3*6

18

In [105]:
8/2         # tüm bölme işlemleri sonucu float'tır

4.0

In [106]:
8/3

2.6666666666666665

In [107]:
8//3     # bölüm kısmını getirir

2

In [108]:
8%3      # bölme işleminde ki kalanı getirir

2

In [109]:
25%4

1

In [110]:
25//4

6

In [111]:
2*2

4

In [112]:
2*2*2

8

In [113]:
2**3        # iki yıldız üs olarak geçer

8

In [114]:
2**5        # karşılığı = 2*2*2*2*2

32

In [115]:
x = (4 + 2) ** (4 ** (1*2/2) / 2)     # bu işlem atama işlemi, çıktı vermez

In [116]:
x

36.0

In [117]:
x = (4 + 2) ** (4 ** (1*2/2) / 2) 
x

36.0

### yarıçapı 9 birim olan dairenin alanını bulan python kodunu yazınız (pi = 3.14)

In [1]:
yari_capi = 9   #  r = 9
pi = 3.14
alan = pi * yari_capi ** 2
alan

254.34

In [3]:
print(alan)

254.34

### bir kenarı 8 diğer kenarı 14 birim olan dik üçgenin hipotenüsünü bulan python kodunu yazın (değişkenler üzerinden bulunuz)